body {
  font-family: "Montserrat";
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 20%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

#features {
  text-align: center;
}

i:hover {
  color: #ff4c68;
}

.ciao {
  display: inline-block;
  padding: 5% 5%;
}

/* nav-bar*/

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}


.navbca {
  margin-right: 100px;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat"
}

.download-button {
  margin: 5% 3% 5% 0;
}

.image-title {
  width: 60%;
  transform: rotate(25deg);
}

.features {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.ciaaoo {
  padding: 5% 20% 5% 20%;
}

/*testimonials section*/

#testimonials {
  background-color: #ef8172;
  text-align: center;
  padding: 7% 20% 50px 20%;
  color: #fff;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 30px;
}

.carousel-item {
  height: 500px;
}

/*press section*/

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.image-press {
  margin-left: 20px;
  margin-right: 20px;
  width: 12%;
}
